@page "/admindashboard"

<h3>Dashboard</h3>
<div class="container">
    <NavMenu>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <button>Monitor User</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <button>Monitor Products</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <button>Monitor Payments</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <button>Monitor Transactions</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <button>Update content managed areas</button>
            </div>
        </div>
    </NavMenu>
</div>


@code {

}
