@page "/admindashboard"

<h3>AdminDashboard</h3>
<div>
    <div>
        <h4>Monitor User</h4>
    </div>
    <div>
        <h4>Monitor Products</h4>
    </div>
    <div>
        <h4>Monitor Payments</h4>
    </div>
    <div>
        <h4>Monitor Transactions</h4>
    </div>
    <div>
        <h4>Update content managed areas</h4>
    </div>
</div>


@code {

}
