@page "/"

<h1>Welcome to Christ the King tailoring services</h1>

You have come to your new app where you can reach out to tailors of your choices, submit your measurement and your desired fashion will be provided in time.

<SurveyPrompt Title="How is Blazor working for you?" />
