@page "/"
@inject LoginModel lm

<head>
	<!-- Other head tags -->
	<link href="~/css/login.css" rel="stylesheet" />
</head>


<div class = "container">
	<div class="wrapper">
		<form action="LoginModel" method="post" name="Login_Form" class="form-signin">       
			<h3 class="form-signin-heading">Please Sign In</h3>
			  <hr class="colorgraph"><br>

			<input type="email" class="form-control" name="email" placeholder="email" required="" autofocus="" />
			<input type="password" class="form-control" name="Password" placeholder="Password" required=""/>     		  
			<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
		</form>			
	</div>
	<div class="mt-2 text-end">
		<NavLink class="nav-link" href="registration">
			<span>Click here to creat account!</span>
		</NavLink>
	</div>

</div>

